.card__template {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  width: 282px;
}

.card__gallery {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  grid-gap: 20px 17px;
  padding-top: 36px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0;
}
.card__image {
  width: 282px;
  height: 282px;
}
.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__like-button {
  background: transparent url(../images/Heart.svg) center no-repeat;
  width: 24px;
  height: 18px;
  border-style: none;
  transition: opacity 370ms ease;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
