.header {
  margin: 45px 0 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  margin: 0 0 41px 0;
  height: 33px;
  width: 173px;
  color: #ffff;
}

@media (min-width: 100px) and (max-width: 320px) {
  .header__logo {
    object-fit: cover;
    height: 24px;
    width: 126px;
    margin: 0 0 28px 5px;
  }
  .header {
    margin-top: 22px;
  }
}
