.header {
  padding: 45px 0 44.25px 0;
  margin: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.header__logo {
  height: 33px;
  width: 173px;
  color: #ffff;
}

@media (min-width: 100px) and (max-width: 900px) {
  .header__logo {
    object-fit: cover;
    height: 24px;
    width: 126px;
  }
  .header {
    padding: 28px 0 32px 17px;
    /*padding: calc(27.68px + 0.032vw) 0 calc(26.968px + 0.032vw)*/
    /* calc(31.968px + 0.032vw)*/
  }
}
@media (min-width: 1300px) and (max-width: 8000px) {
  .header {
    margin: 0 auto;
  }
}
