.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
}
.page__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 1080px;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 200px 0 200px;
}
@media (max-width: 1279px) {
  .page__content {
    margin: 0 180px 0 180px;
    max-width: calc(100% - 306px);
  }
}
@media (max-width: 1239px) {
  .page__content {
    margin: 0 160px 0 160px;
    max-width: calc(100% - 320px);
  }
  @media (max-width: 1199px) {
    .page__content {
      margin: 0 140px 0 140px;
      max-width: calc(100% - 280px);
    }
  }
}
@media (max-width: 1159px) {
  .page__content {
    margin: 0 120px 0 120px;
    max-width: calc(100% - 240px);
  }
}
@media (max-width: 1119px) {
  .page__content {
    margin: 0 100px 0 100px;
    max-width: calc(100% - 200px);
  }
}
@media (max-width: 1079px) {
  .page__content {
    margin: 0 90px 0 90px;
    max-width: calc(100% - 180px);
  }
}
@media (max-width: 1059px) {
  .page__content {
    margin: 0 70px 0 70px;
    max-width: calc(100% - 140px);
  }
}
@media (max-width: 1059px) {
  .page__content {
    margin: 0 50px 0 50px;
    max-width: calc(100% - 100px);
  }
}
@media (max-width: 979px) {
  .page__content {
    margin: 0 45px 0 45px;
    max-width: calc(100% - 90px);
  }
}
@media (max-width: 969px) {
  .page__content {
    margin: 0 40px 0 40px;
    max-width: calc(100% - 80px);
  }
}
@media (max-width: 959px) {
  .page__content {
    margin: 0 35px 0 35px;
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 949px) {
  .page__content {
    margin: 0 30px 0 30px;
    max-width: calc(100% - 60px);
  }
}
@media (max-width: 939px) {
  .page__content {
    margin: 0 25px 0 25px;
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 929px) {
  .page__content {
    margin: 0 20px 0 20px;
    max-width: calc(100% - 40px);
  }
}
@media (max-width: 919px) {
  .page__content {
    margin: 0 15px 0 15px;
    max-width: calc(100% - 30px);
  }
}
@media (max-width: 905px) and (min-width: 800px) {
  .page__content {
    margin: 0 20px 0 20px;
    max-width: calc(100% - 40px);
  }
}
