.profile {
  display: flex;
  align-items: center;
  padding: 40px 0 0 0;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title  button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 18px;
  align-items: center;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: fit-content;
  font-family: "Inter", Arial, sans-serif;
}
.profile__edit-button {
  background: transparent url(../images/pencil\ 10x10.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border-style: solid;
  border-color: #ffffff;
  margin: 0;
  transition: opacity 310ms ease;
  border-radius: 2px;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__add-button {
  background: transparent url(../images/Plus_Sign_22x22.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-right: 0;
  margin-left: 165px;
  padding: 0;
  border-style: solid;
  border-color: #ffffff;
  transition: opacity 310ms ease;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__description {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-family: "Inter", Arial, sans-serif;
  grid-area: description;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media (min-width: 100px) and (max-width: 379px) {
  .profile {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    justify-content: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
  }
  .profile__title {
    margin: 28.25px 0 0 40px;
    font-size: 22px;
    text-align: center;
  }
  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    align-self: center;
    margin: 28.25px 0 0 0;
  }
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 282px;
  }
  .profile__image {
    margin: 0 auto;
  }
}
@media (min-width: 380px) and (max-width: 760px) {
  .profile {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    justify-content: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
  }
  .profile__title {
    margin: 28.25px 0 0 75px;
    font-size: 22px;
    text-align: center;
  }
  .profile__description {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    align-self: center;
    margin: 28.25px 0 0 0;
  }
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 282px;
  }
  .profile__image {
    margin: 0 auto;
  }
}

@media (min-width: 761px) and (max-width: 905px) {
  .profile__title {
    font-size: 25px;
    text-align: center;
  }

  .profile__edit-button {
    width: 18px;
    height: 15px;
    align-self: center;
  }
}
